.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.5s;
  box-sizing: border-box;
  padding: 1rem;
  background-color: white;
  z-index: 10002;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  flex-direction: column;
  transform: translateY(-101%);
  -webkit-box-shadow: 0px 9px 17px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 17px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 14px -5px rgba(0, 0, 0, 0.116);
}

.mobile-nav .fa-times {
  font-size: 2rem;
  color: var(--secondary-color);
}
.mobile-nav .close-mnav {
  align-self: flex-end;
  margin-bottom: 0.5rem;
}

.mobile-nav a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
  width: 100%;
  display: inline-block;
  padding: 0.8rem 0;
}

.mobile-nav ul li {
  width: 100%;
  margin-bottom: 0.2rem;
  list-style: none;
  text-align: center;
  /* background-color: var(--secondary-color); */
  border-radius: 10px;
  transition: all 0.4s;
}

.mobile-nav ul li:focus,
.mobile-nav ul li:hover {
  background-color: rgb(248, 248, 248);
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-bars {
  display: none;
  color: var(--secondary-color);
}
.hamburger {
  cursor: pointer;
}
