.page-title {
  text-align: center;
  margin: 3rem auto;
  width: 70%;
}

.page-title p {
  color: var(--secondary-color);
}

.page-title p:first-child {
  color: #77b97e;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
