@media (max-width: 960px) {
  .question-area {
    flex-direction: column;
  }
}

@media (max-width: 560px) {
  .test-header h3 {
    font-size: 1.1rem;
  }

  .test-process .test-buttons {
    padding: 0;
  }

  .test-buttons .middleBtn {
    order: 3;
  }
}
